ud04/Schema13.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="usoredes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="formulario" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="datos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z Ñ Á-Ú]{1}[a-z ñ á-ú]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="apellidos">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z Ñ]{1}[a-z A-Z ñ Ñ]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="localidad">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="provincia" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:pattern value="Leon|Palencia|Burgos|Zamora|Valladolid|Soria|Salamanca|Avila|Segovia"/>
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sexo" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="Hombre|Mujer|Otro"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="telefono">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="uso">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="redes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="red" maxOccurs="unbounded">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="Instagram|Twitter|Facebook|Youtube|Twitch|Reddit"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="masusada">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="instagram">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="twitter">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="facebook">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="youtube">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="twitch">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="reddit">
                                                        <xs:complexType>
                                                            <xs:attribute name="horasdia" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:positiveInteger">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="24"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dispositivo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="Ordenador|Tablet|Móvil|Consola|Otro"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="opinion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="color">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[#]{1}[0-9 A-F]{6}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="adiccion">
                                            <xs:complexType>
                                                <xs:attribute name="value" default="5">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="0"/>
                                                            <xs:maxInclusive value="10"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sugerencia" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
